:root {
  --color-primary: #e53935; /* Merah Daging */
  --color-primary-dark: #c62828;
  --color-secondary: #2c3e50; /* Dark Blue */
  --color-secondary-light: #34495e;
  --color-background: #fdfdff;
  --color-background-alt: #f1f5f9;
  --color-text: #333;
  --color-text-light: #666;
  --color-white: #ffffff;
  --font-family: "Poppins", sans-serif;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container .logo {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 800;
}

/* NAVBAR */

.navbar {
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 10000;
  transition: background-color 0.3s ease;
  background-color: var(--color-background);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #eee;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links li a {
  color: var(--color-primary);
  text-decoration: none ;
  font-weight: 600; 
}

/* Section hero */

.hero {
  padding: 30px 0;
  min-height: 90vh;
  display: flex;
  align-items:center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 50px;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-text h1 {
  font-size: 3.8em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: var(--color-text-light);
  max-width: 500px;
}

/* Tentang DDS */


.tentang-dds .container {
  text-align: left;
}

.tentang-content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.tentang-text p{
  flex: 1;
}

.tentang-image img{
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tentang-text p{
  font-size: 1.1em;
  margin-bottom: 20px;
  color: var(--color-text-light);
  max-width: 1000px;
}

.tentang-dds h2{
  text-align: center;
  color: var(--color-secondary-light);
  font-size: 2.5em;
}